
<section class="thumbnail-container">
    <figure>
        <img src="<%= suggestionData.image %>"
            alt="Wens afbeelding">
        
    </figure>



    <a href="/detailpage-1">

        <article>
            <ul class="suggestion-themes">
                <li>Verkeer</li>
                <li>Wonen</li>
            </ul>


            <ul class="user-info">
                <li>Pieter van der baas</li>
                <li><%= suggestionData.created_at%></li>
            </ul>

            <h2><%= suggestionData.title%></h2>
            <p><%= suggestionData.description%></p>

            <ul class="statistics">
                <li> <span> <img src="../../images/trekkers.svg" alt=""></span> 5</li>
                <li><span><i class="fa-regular fa-handshake fa-lg" style="color: #000000;"></i></span> 2</li>
                <li><span><i class="fa-regular fa-thumbs-up fa-lg" style="color: #000000;"></i></span><%= suggestionData.amount_vote%></li>
            </ul>
        </article>
    </a>


</section>