<!DOCTYPE html>
<html lang="en">

<head>
  <%- include('./partials/head'); %>
    <link rel="stylesheet" href="/css/overview-page.css">
</head>

<body>
  <header>
    <%- include('./partials/header'); %>
  </header>

  <div class="slogan-container">
    <h1>
      <span>Draag bij</span>
      <span>aan</span>
      <span>Strandeiland</span>
      <span>Jouw ideeën, <br> onze toekomst!</span>
    </h1>
  </div>

  <main>

    <!--  -->
    <form>
      <fieldset>
        <ul>
          <li data-filter-target="#theme">Filteren op thema</li>
          <li data-filter-target="#sorting">Sorteren</li>
        </ul>

        <button class="close-filter">Close filter</button>

        <section class="filter-content">
          <article id="theme" data-filter-content>
            <ul class="theme-filter-items"> 
              <li><label><input type="checkbox" name="theme" value="sport"><span>Sport</span></label></li>
              <li><label><input type="checkbox" name="theme" value="recreatie"><span>Recreatie</span></label></li>
              <li><label><input type="checkbox" name="theme" value="verkeer"><span>Verkeer</span></label></li>
              <li><label><input type="checkbox" name="theme" value="Winkels"><span>Winkels</span></label></li>
              <li><label><input type="checkbox" name="theme" value="natuur"><span>Natuur</span></label></li>
              <li><label><input type="checkbox" name="theme" value="milieu"><span>Milieu</span></label></li>
              <li><label><input type="checkbox" name="theme" value="jeugd"><span>Jeugd</span></label></li>
              <li><label><input type="checkbox" name="theme" value="veiligheid"><span>Veiligheid</span></label></li>
              <li><label><input type="checkbox" name="theme" value="cultuur"><span>Cultuur</span></label></li>
              <li><label><input type="checkbox" name="theme" value="huisvesting"><span>Huisvesting</span></label></li>
              <li><label><input type="checkbox" name="theme" value="infrastructuur"><span>Infrastructuur</span></label>
              </li>
              <li><label><input type="checkbox" name="theme" value="strand"><span>Strand</span></label></li>
              <li><label><input type="checkbox" name="theme" value="onderwijs"><span>Onderwijs</span></label></li>
              <li><label><input type="checkbox" name="theme" value="overig"><span>Overig</span></label></li>
            </ul>

            <button class="filter-theme-btn" type="submit">Toon resultaten</button>
          </article>

          <article id="sorting" data-filter-content>
            <ul>
              <li><label><input type="checkbox" name="sort" value="recent"><span>Meest Recente</span></label></li>
              <li><label><input type="checkbox" name="sort" value="delers"><span>Meest gedeeld</span></label></li>
              <li><label><input type="checkbox" name="sort" value="trekkers"><span>Meeste trekkers</span></label></li>
              <li><label><input type="checkbox" name="sort" value="helpers"><span>Meeste helpers</span></label></li>
            </ul>

            <button class="filter-sort-btn" type="submit">Toon resultaten</button>
          </article>



        </section>
      </fieldset>


      <a href="/form">Wens aanmaken</a>

    </form>

    <div class="content">

      <div class="latest-ideas">
        <h2>Recent wensen</h2>
        <div class="scroll-snap">
          <%- include('./partials/thumbnail.ejs') %>
          <%- include('./partials/thumbnail.ejs') %>
          <%- include('./partials/thumbnail.ejs') %>
          <%- include('./partials/thumbnail.ejs') %>
          <%- include('./partials/thumbnail.ejs') %>
          <%- include('./partials/thumbnail.ejs') %>



        </div>

      </div>

      <h2> 2.500 resultaten</h2>
      <div class="grid-container">
        <%- include('./partials/thumbnail.ejs') %>
        <%- include('./partials/thumbnail.ejs') %>
        <%- include('./partials/thumbnail.ejs') %>


      </div>



  </main>

  <%- include('./partials/footer.ejs') %>
</body>

</html>