<!DOCTYPE html>
<html lang="en">

<head>
  <%- include('./partials/head'); %>
    <link rel="stylesheet" href="/css/overview-page.css">
</head>

<body>
  <header>
    <%- include('./partials/header'); %>
  </header>

  <div class="slogan-wrapper">


    <section class="slogan-container">


      <h1>
        <span>Draag bij</span>
        <span>aan</span>
        <span>Strandeiland</span>
        <span>Jouw ideeën, <br> onze toekomst!</span>
      </h1>

      <article class="slogan-call-to-action">
        <h2>Wensen voor Strandeiland</h2>
        <p>Wil je bijdragen aan Strandeiland?</p>
        <a href="/form">Maak zelf een wens!</a>
      </article>

    </section>
  </div>
  <main>
    <form>
      <%- include('./partials/filter-menu.ejs') %>
    </form>

    <section class="content">

      <h2>Bekijk de laatst gemaakte wensen</h2>
      <section class="latest-ideas">
        <% latestSuggestions.forEach(suggestion=> { %>
          <%-include('./partials/latest-thumbnail.ejs',{suggestion: suggestion})%>
            <% }) %>
      </section>

      <h2> <%= totalSuggestions%> wensen</h2>
      <section class="grid-container">

        <% suggestions.forEach(suggestion=> { %>
          <%-include('./partials/thumbnail.ejs',{suggestion: suggestion})%>
            <% }) %>

      </section>
  </main>
  <footer>
    <%- include('./partials/footer'); %>
  </footer>
  <script src="/socket.io/socket.io.js"></script>
  <script type="module" src="/js/script.js"></script>
</body>

</html>