<!DOCTYPE html>
<html lang="en">

<head>
    <%- include('./partials/head'); %>
    <link rel="stylesheet" href="/css/suggestion.css">
    <link rel="stylesheet" href="/css/chat.css">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
</head>

<body>
    <header>
        <%- include('./partials/header'); %>
    </header>

    <div class="terug">
        <i class="fa fa-arrow-circle-left" aria-hidden="true"></i>
        <a href="/">Terug</a>
    </div>

    <main>
        <section class="wish">
            <div id="img-container">
                <img src="<%= suggestion.image%> " alt="Vanuit de natuur">
            </div>
            <article>
                <h2> <%= suggestion.title %> </h2>
                <h3> <%= suggestion.theme.label %> </h3>
                <p id="time"> Geplaatst op <%= time %></p>
                <p> <%= suggestion.description %> </p>
                <section class="join">
                    <button>Word trekker</button>
                    <button>Help mee</button>
                    <button>Ik deel deze wens</button>
                </section>
            </article>

            <section id="chat">
                <h2>Reacties</h2>
                <ul class="chat-section"></ul>
                <p id="typing"></p>
                <form class="message-input">
                    <input type="text" id="message-input" autocomplete="off" placeholder="Type your message..">
                    <button type="submit" id="message-button"><span
                            class="material-symbols-outlined">Send</span></button>
                </form>
            </section>
        </section>

        <aside id="joiners" class="joiners">
            <div id="ambassador" class="helping-item">
                <h2>Trekkers</h2>
                <h3>Trekkers van deze wens: 1</h3>
                <ul>
                    <%- include('./partials/ambassador.ejs', suggestion)%>
                </ul>
            </div>

            <div id="helpers" class="helping-item">
                <h2>Helpers</h2>
                <h3>Helpers van deze wens: 5</h3>
                <ul>
                    <li>
                        <img src="/images/mia.png" alt="">
                        <a href="/user/Mia" id="help-link">
                            <h3>Mia Thompson</h3>
                            <h4>Modeblogger</h4>
                        </a>
                    </li>
                    <li>
                        <img src="/images/emma.png" alt="">
                        <a href="/user/Emma" id="help-link">
                            <h3>Emma Johnson</h3>
                            <h4>Digitale Marketing Specialist</h4>
                        </a>
                    </li>
                    <li>
                        <img src="/images/david.png" alt="">
                        <a href="/user/David" id="help-link">
                            <h3>David Nguyen</h3>
                            <h4>Software Engineer</h4>
                        </a>
                    </li>
                    <li>
                        <img src="/images/mia.png" alt="">
                        <a href="/user/Mia" id="help-link">
                            <h3>Mia Thompson</h3>
                            <h4>Docent</h4>
                        </a>
                    </li>
                    <li>
                        <img src="/images/jaap.png" alt="">
                        <a href="/user/Jaap" id="help-link">
                            <h3>Jaap Erts</h3>
                            <h4>Docent</h4>
                        </a>
                    </li>

                </ul>
            </div>

            <!-- sharers -->
            <div id="sharers" class="helping-item">
                <h2>Delers</h2>
                <h3>20 personen delen deze wens</h3>
                <ul>
                    <li class="box-click">
                        <img src="/images/bob.jpeg" alt="">
                        <button class="box">
                            <h3>Bob Dissel</h3>
                            <h4>Docent</h4>
                            <a href="#">Bekijk profiel</a>
                        </button>
                    </li>
                    <li class="box-click">
                        <img src="/images/jaap.png" alt="">
                        <button class="box">
                            <h3>Bob Dissel</h3>
                            <h4>Docent</h4>
                            <a href="/user/Jaap">Bekijk profiel</a>
                        </button>
                    </li>
                    <li class="box-click">
                        <img src="/images/bob.jpeg" alt="">
                        <button class="box">
                            <h3>Bob Dissel</h3>
                            <h4>Docent</h4>
                            <a href="#">Bekijk profiel</a>
                        </button>
                    </li>
                    <li class="box-click">
                        <img src="/images/bob.jpeg" alt="">
                        <button class="box">
                            <h3>Bob Dissel</h3>
                            <h4>Docent</h4>
                            <a href="#">Bekijk profiel</a>
                        </button>
                    </li>
                    <li class="box-click">
                        <img src="/images/bob.jpeg" alt="">
                        <button class="box">
                            <h3>Bob Dissel</h3>
                            <h4>Docent</h4>
                            <a href="#">Bekijk profiel</a>
                        </button>
                    </li>
                    <li class="box-click">
                        <img src="/images/bob.jpeg" alt="">
                        <button class="box">
                            <h3>Bob Dissel</h3>
                            <h4>Docent</h4>
                            <a href="#">Bekijk profiel</a>
                        </button>
                    </li>
                    <li class="box-click">
                        <img src="/images/bob.jpeg" alt="">
                        <button class="box" id="box-left">
                            <h3>Bob Dissel</h3>
                            <h4>Docent</h4>
                            <a href="#">Bekijk profiel</a>
                        </button>
                    </li>
                    <li class="box-click">
                        <img src="/images/jaap.png" alt="">
                        <button class="box">
                            <h3>Bob Dissel</h3>
                            <h4>Docent</h4>
                            <a href="/user/Jaap">Bekijk profiel</a>
                        </button>
                    </li>
                    <li class="box-click">
                        <img src="/images/bob.jpeg" alt="">
                        <button class="box">
                            <h3>Bob Dissel</h3>
                            <h4>Docent</h4>
                            <a href="#">Bekijk profiel</a>
                        </button>
                    </li>
                    <li class="box-click">
                        <img src="/images/bob.jpeg" alt="">
                        <button class="box">
                            <h3>Bob Dissel</h3>
                            <h4>Docent</h4>
                            <a href="#">Bekijk profiel</a>
                        </button>
                    </li>
                    <li class="box-click">
                        <img src="/images/bob.jpeg" alt="">
                        <button class="box">
                            <h3>Bob Dissel</h3>
                            <h4>Docent</h4>
                            <a href="#">Bekijk profiel</a>
                        </button>
                    </li>
                    <li class="box-click">
                        <img src="/images/bob.jpeg" alt="">
                        <button class="box">
                            <h3>Bob Dissel</h3>
                            <h4>Docent</h4>
                            <a href="#">Bekijk profiel</a>
                        </button>
                    </li>
                    <li class="box-click">
                        <img src="/images/bob.jpeg" alt="">
                        <button class="box">
                            <h3>Bob Dissel</h3>
                            <h4>Docent</h4>
                            <a href="#">Bekijk profiel</a>
                        </button>
                    </li>
                    <li class="box-click">
                        <img src="/images/bob.jpeg" alt="">
                        <button class="box" id="box-left">
                            <h3>Bob Dissel</h3>
                            <h4>Docent</h4>
                            <a href="#">Bekijk profiel</a>
                        </button>
                    </li>
                    <li class="box-click">
                        <img src="/images/bob.jpeg" alt="">
                        <button class="box">
                            <h3>Bob Dissel</h3>
                            <h4>Docent</h4>
                            <a href="#">Bekijk profiel</a>
                        </button>
                    </li>
                    <li class="box-click">
                        <img src="/images/bob.jpeg" alt="">
                        <button class="box">
                            <h3>Bob Dissel</h3>
                            <h4>Docent</h4>
                            <a href="#">Bekijk profiel</a>
                        </button>
                    </li>
                    <li class="box-click">
                        <img src="/images/bob.jpeg" alt="">
                        <button class="box">
                            <h3>Bob Dissel</h3>
                            <h4>Docent</h4>
                            <a href="#">Bekijk profiel</a>
                        </button>
                    </li>
                    <li class="box-click">
                        <img src="/images/bob.jpeg" alt="">
                        <button class="box">
                            <h3>Bob Dissel</h3>
                            <h4>Docent</h4>
                            <a href="#">Bekijk profiel</a>
                        </button>
                    </li>
                    <li class="box-click">
                        <img src="/images/bob.jpeg" alt="">
                        <button class="box">
                            <h3>Bob Dissel</h3>
                            <h4>Docent</h4>
                            <a href="#">Bekijk profiel</a>
                        </button>
                    </li>
                    <li class="box-click">
                        <img src="/images/jaap.png" alt="">
                        <button class="box">
                            <h3>Bob Dissel</h3>
                            <h4>Docent</h4>
                            <a href="/user/Jaap">Bekijk profiel</a>
                        </button>
                    </li>
                    <li class="box-click">
                        <img src="/images/bob.jpeg" alt="">
                        <button class="box" id="box-left">
                            <h3>Bob Dissel</h3>
                            <h4>Docent</h4>
                            <a href="#">Bekijk profiel</a>
                        </button>
                    </li>
                    <li class="box-click">
                        <img src="/images/bob.jpeg" alt="">
                        <button class="box">
                            <h3>Bob Dissel</h3>
                            <h4>Docent</h4>
                            <a href="#">Bekijk profiel</a>
                        </button>
                    </li>
                    <li class="box-click">
                        <img src="/images/bob.jpeg" alt="">
                        <button class="box">
                            <h3>Bob Dissel</h3>
                            <h4>Docent</h4>
                            <a href="#">Bekijk profieln</a>
                        </button>
                    </li>
                    <li class="box-click">
                        <img src="/images/bob.jpeg" alt="">
                        <button class="box">
                            <h3>Bob Dissel</h3>
                            <h4>Docent</h4>
                            <a href="#">Bekijk profiel</a>
                        </button>
                    </li>
                </ul>
            </div>
        </aside>
        </div>

    </main>

    <!-- footer -->
    <footer>
        <%- include('./partials/footer'); %>
    </footer>
    <script src="/socket.io/socket.io.js"></script>
    <script type="module" src="/js/script.js"></script>
</body>

</html>