<!DOCTYPE html>
<html lang="en">

<head>
    <%- include('./partials/head'); %>
        <link rel="stylesheet" href="/css/user.css">
        <link rel="stylesheet"
            href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
</head>

<body>
    <header>
        <%- include('./partials/header'); %>
    </header>

    <div class="terug">
        <i class="fa fa-arrow-circle-left" aria-hidden="true"></i>
        <a href="/">Terug</a>
    </div>

    <main>
        <section class="bio">
            <article>
                <div class="head">
                    <div class="image">
                        <img src="<%= user.image%> " alt="avatar" class="user-avatar">
                    </div>
                    <div class="head-name">
                        <h1 id="user-name">
                            <%= user.first_name %>
                                <%= user.last_name %>
                        </h1>
                        <p>
                            <%= user.bio %>
                        </p>
                    </div>
                </div>
                <h2>Biografie</h2>
                <p>Is lid geworden op <%= time %>
                </p>
                <p>
                    <%= user.description %>
                </p>
            </article>
        </section>

        <aside id="joiners" class="joiners">
            <div id="suggestion">
                <h2>Wensen van <%= user.first_name %>
                </h2>
                <h3>Totale wensen: <%= amount %>
                </h3>
                <ul>
                    <% suggestions.forEach(suggestion=> { %>
                        <%- include('./partials/article.ejs', {suggestion: suggestion})%>
                            <% }) %>
                </ul>
            </div>

            <div id="helpers">
                <h2>Geplaatste reacties</h2>
                <h3>Totale reacties: 2</h3>
                <ul>
                    <li>
                        <div>
                            <h3>Middelbare school</h3>
                            <p>Ben mee eens</p>
                        </div>
                    </li>
                    <li>
                        <div>
                            <h3>Openbare vervoer</h3>
                            <p>Ben mee eens</p>
                        </div>
                    </li>
                </ul>
            </div>
        </aside>
    </main>

    <footer>
        <%- include('./partials/footer'); %>
    </footer>
    <script src="/socket.io/socket.io.js"></script>
    <script src="/js/script.js"></script>
</body>

</html>